.head1{
     background-color: crimson;
     max-width: 100%;
     height: 30px;
     color: white;
     font-size: 20px;
     padding: 5px;
}
.head2 {
     background-color: aqua;
     max-width: 100%;
     height: 110px;
     padding: 10px;
}
.logo {
     padding: 15px;
     float: left;
}
.element1{
     font-size: 18px;
     padding: 15px;
     float: right;
}
.element2{
     float: right;
     font-size: 18px;
     padding: 10px;
     width: 110px;
     height: 20px;
     text-align: center;
     background-color: aliceblue;
}
.foot1 {
     background-color: yellow;
     max-width: 100%;
     height: 445px;
     padding: 20px;
     float: right;
}
.foot2{
     width: 200px;
     height: 445px;
     background-color: blueviolet;
     padding: 20px;
     color: azure;
     font-size: 20px;
}