.head{
     max-width: 100%;
     height:60px;
     background-color: seagreen;
     margin: 15px 15px 0px 15px;
     padding: 15px;
}
.logo{
     float:left;
     font-size: 45px;
     width: 140px;
     height: 50px;
     background-color: #5b3b2c;
     text-align: center;
     padding: 5px;
     color:white;
}
.h{
     float: right;
     font-size: 40px;
     width: 115px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
     margin-right: 15px;
}
.a{
     float: right;
     font-size: 40px;
     width: 120px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
     margin-right: 15px;
}
.p{
     float: right;
     font-size: 40px;
     width: 145px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
     margin-right: 15px;
}
.s{
     float: right;
     font-size: 40px;
     width: 155px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
     margin-right: 15px;
}
.b{
     float: right;
     font-size: 40px;
     width: 105px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
     margin-right: 15px;
}
.c{
     float: right;
     font-size: 40px;
     width: 145px;
     height: 50px;
     background-color: #61a9d8;
     text-align: center;
     padding: 5px;
}
.body{
     height: 470px;
     max-width: 100%;
     background-color: #736e7c;
     margin: 0px 15px 0px 15px;
     padding: 15px 0px 15px 0px;
}
.rb{
     float: left;
     width: 240px;
     max-width: 100%;
     height: 470px;
     background-color: darkred;
     font-size: 40px;
     position: relative;
     margin-left: 15px;
}
.sd{
     float: right;
     width: 1090px;
     height: 470px;
     background-color: #d7bd5c;
     text-align: center;
     font-size: 35px;
     margin-right: 15px;
}
.bb1{
     float: left;
     width: 330px;
     height: 385px;
     background-color: #71b5e2;
     position: relative;
     top: 15px;
     left: 15px;
}
.bb2{
     float: left;
     width: 330px;
     height: 385px;
     background-color: #71b5e2;
     position: relative;
     top: 15px;
     left: 50px;
}
.bb3{
     float: left;
     width: 330px;
     height: 385px;
     background-color: #71b5e2;
     position: relative;
     top: 15px;
     left: 85px;
}
.img{
     margin-top: 20px;
}
.sn{
     font-size: 25px;
     margin-top: 10px;
     margin-bottom: 10px;
}
.para{
     font-size: 19px;
     margin: 15px 15px 10px 15px;
}
.footer{
     background-color: #574d5d;
     max-width: 100%;
     height: 40px;
     color: white;
     font-size: 35px;
     padding: 5px 10px ;
     margin:0px 15px 10px 15px;
}