*{
     font-size: 30px;
     box-sizing: border-box;
}
header{
     background-color: black;
     max-width: 100%;
     height: 50px;
     margin: 5px;
}
.textbox{
     font-size: 45px;
     width: 170px;
     height: 750px;
     margin: 5px;
     padding-left: 15px;
     float: left;
}
.text{
     position: relative;
     top: 160px;
     left: 25px;
     color: #9aaa4f;
}
.redheader{
     background-color: darkred;
     width: 900px;
     height: 60px;
     float: left;
     margin: 5px;
     margin-right: 150px;
}
.textheaderandfooter{
     width: 900px;
     color: white;
     padding-top: 5px;
     height: 60px;
     margin: 5px;
     float: left;
     text-align: center;
}
.bluenavigation{
     background-color: darkblue;
     width: 270px;
     height: 320px;
     float: left;
     margin: 5px;
     text-align: center;
     color: white;
}
.textnavigationandcontent{
    margin-top: 140px;
}
.yellowcontent1{
     background-color: yellow;
     float: left;
     margin: 5px 0px 5px 5px;
     height: 320px;
     width: 400px;
     text-align: center;
}
.container{
     width: 100%;
     height: auto;
}
.greenbody{
     background-color: green;
     float: left;
     margin: 5px 100px 5px 10px;
     height: 220px;
     width: 210px;
     text-align: center;
}
.textsidebar{
     margin-top: 90px;
     color: white;
}
.yellowcontent2{
     background-color: yellow;
     float: left;
     margin: 5px 5px 5px 0px;
     height: 90px;
     width: 220px;
}
.lightbluefooter{
     background-color: rgb(0, 148, 197);
     width: 900px;
     height: 60px;
     float: left;
     margin: 5px;
     margin-right: 150px;
}
footer{
     background-color: black;
     margin: 5px;
     width: 100%;
     height: 50px;
     float: left;
}

@media only screen and (min-width:900px) and (max-width:1300px) {
     .redheader{
          width: 600px;
          text-align: left;
          margin-right: 0px;
          margin-right: 130px;
     }
     .textheaderandfooter{
          width: 600px;
          text-align: center;
     }
     .bluenavigation{
          width: 600px;
          margin-right: 150px;
     }
     .yellowcontent1{
          width: 340px;
     }
     .greenbody{
          margin: 5px 235px 5px 10px;
          width: 250px;
     }
     .yellowcontent2{
          margin: 5px 5px 5px 0px;
          height: 90px;
          width: 260px;
     }
     .lightbluefooter{
          width: 600px;
     }
}
@media only screen and (min-width:650px) and (max-width:1045px) {
     .textbox{
          width: 110px;
          height: 550px;
     }
     .text{
          left: 0px;
     }
     .redheader{
          width: 450px;
          text-align: left;
          margin-right: 0px;
          margin-right: 130px;
     }
     .textheaderandfooter{
          width: 450px;
          text-align: center;
     }
     .bluenavigation{
          width: 450px;
          margin-right: 200px;
     }
     .yellowcontent1{
          width: 265px;
     }
     .greenbody{
          margin: 5px 290px 5px 10px;
          width: 175px;
     }
     .yellowcontent2{
          margin: 5px 5px 5px 0px;
          height: 90px;
          width: 185px;
     }
     .lightbluefooter{
          width: 450px;
          margin-right: 120px;
          margin-left: 125px;
     }
}
@media only screen and (min-width:600px) and (max-width:885px) {
     .redheader{
          margin-right: 50px;
     }
     .bluenavigation{
          margin-right: 50px;
     }
     .greenbody{
          margin: 5px 120px 5px 10px;
     }
     .lightbluefooter{
          margin-right: 50px;
     }
}