*{
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
}
:root{
     --yellow : rgb(156, 156, 57);
}
body{
     background-image: linear-gradient(to bottom, rgb(111, 170, 247), rgb(245, 116, 180));
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     float: left;
}
.mainbody{
     width: 80%;
     height: 80vh;
     border: 1px solid black;
     float: left;
}
[class^="bodypart"]{
     height: 80vh;
     border: 1px solid red;
     float: left;
}
.bodypart1{
     background-image: url(https://as2.ftcdn.net/v2/jpg/01/82/87/63/1000_F_182876332_EemmMRToMQM3FXtewawD5akLnfOVDL2H.jpg);
     background-size: cover;
     background-position: center;
     width: 55%;
}
.bodypart2{
     width: 45%;
}
.iconrow{
     width: 12%;
     height: 80vh;
     border: 1px solid red;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     float: left;
}
.icons{
     width: 100%;
     height: auto;
     float: left;
}
.upperpart div, .lowerpart div{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 8vh;
     float: left;
}
[class^="part"]{
     width: 100%;
     border: 1px solid red;
     background-color: white;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     float: left;
}
.part1{
     height: 50vh;
}
.part2{
     height: 30vh;
}
.line{
     width: 95%;
     float: left;
     margin-left: 5%;
}
.one{
     height: 4vh;
     color: rgb(15, 15, 160);
     font-size: 13px;
}
.two{
     height: 3vh;
     color: rgb(69, 69, 82);
     font-size: 12px;
}
.three{
     height: 6vh;
     font-size: 25px;
     font-weight: bolder;
}
.four{
     height: 5vh;
     font-size: 15px;
}
.fa-star{
     color: var(--yellow);
}
.five, .seven, .nine, .eleven{
     font-size: 15px;
     height: 3.5vh;
     font-weight: bolder;
}
.six{
     height: 4.5vh;
}
.six button{
     width: 20%;
     height: 3vh;
     float: left;
     border-radius: 0px;
}
.eight button{
     width: 18%;
     height: 3.5vh;
     margin-right: 1%;
     background-color: whitesmoke;
     border-radius: 20px;
}
.eight{
     height: 5vh;
}
.fa-circle{
     margin-right: 2%;
}
.ten{
     height: 4vh;
}
.twelve button{
     width: 15%;
     height: 3.5vh;
     margin-right: 1%;
     background-color: whitesmoke;
     border-radius: 20px;
}
.thirteen{
     height: 5.5vh;
}
.thirteen button{
     width: 30%;
     height: 4vh;
     float: left;
     background-color: white;
     border: 2px solid white;
     border-bottom-color: rgba(0, 0, 0, 0.244);
}
[class^="sidepart"]{
     float: left;
     height: 20vh;
}
.sideparts{
     width: 100%;
     border: 1px solid red;
}
.sidepart1{
     margin-left: 5%;
     width: 25%;
}
.sidepart2{
     width: 70%;
     border: 1px solid red;
}
.img{
     margin-bottom: 5%;
}
.spline{
     margin: 1% 5% 0% 5%;
}
.outerbox{
     z-index: 10;
     width: 100%;
     height: 10vh;
     border: 2px solid purple;
     background-color: aquamarine;
     float: left;
}