.b1{
    max-width: 520px;
    height: 400px;
    background-image: linear-gradient(direction, color-stop1, color-stop2);
    margin-top: 50px;
}

.b2{
    max-width: 520px;
    height: 400px;
    background-color: black;
    margin-top: 50px;
}