.container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.b1{
    width: 520px;
    height: 400px;
    margin-top: 10%;
    background-image: linear-gradient(to bottom, red, yellow);
}
.b2{
    width: 520px;
    height: 400px;
    margin-top: 10%;
    background-image: radial-gradient(ellipse farthest-corner at center, red, yellow, green);
}